{% load static %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "{{ CANONICAL_HOST }}/#website",
      "url": "{{ CANONICAL_HOST }}/",
      "name": "PT Subur Sedaya Maju",
      "inLanguage": "id-ID",
      "publisher": { "@id": "{{ CANONICAL_HOST }}/#organization" }
    },
    {
      "@type": "WebPage",
      "@id": "{{ CANONICAL_HOST }}/#webpage",
      "url": "{{ CANONICAL_HOST }}/",
      "name": "Transportasi & Sewa Alat Berat Prabumulih | PT Subur Sedaya Maju",
      "isPartOf": { "@id": "{{ CANONICAL_HOST }}/#website" },
      "about": { "@id": "{{ CANONICAL_HOST }}/#organization" },
      "primaryImageOfPage": "{{ CANONICAL_HOST }}{% static 'images/hero-truck.jpeg' %}",
      "inLanguage": "id-ID"
    },
    {
      "@type": ["MovingCompany", "LocalBusiness"],
      "@id": "{{ CANONICAL_HOST }}/#organization",
      "name": "PT Subur Sedaya Maju",
      "legalName": "PT. Subur Sedaya Maju",
      "url": "{{ CANONICAL_HOST }}/",
      "description": "Perusahaan jasa transportasi dan penyewaan alat berat di Prabumulih, Sumatera Selatan, beroperasi sejak 2006 dengan fokus pada keselamatan kerja (K3/SMK3).",
      "foundingDate": "2006",
      "email": "admin@subursedayamaju.co.id",
      "telephone": "+6282185576869",
      "image": "{{ CANONICAL_HOST }}{% static 'images/hero-truck.jpeg' %}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ CANONICAL_HOST }}{% static 'images/logo-horizontal.png' %}",
        "width": 826,
        "height": 154
      },
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+6282185576869",
        "contactType": "sales",
        "areaServed": "ID",
        "availableLanguage": ["Indonesian"]
      },
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Jalur Pipa Pertamina, Patih Galung, Kec. Prabumulih Barat",
        "addressLocality": "Prabumulih",
        "addressRegion": "Sumatera Selatan",
        "postalCode": "31117",
        "addressCountry": "ID"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": -3.45004,
        "longitude": 104.21727
      },
      "hasMap": "https://www.google.com/maps?cid=5137559904468020167",
      "sameAs": [
        "https://www.facebook.com/pages/Yard-Pt.-Subur-Sedaya-Maju/180378142812477"
      ],
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          "opens": "08:00",
          "closes": "17:00"
        }
      ],
      "areaServed": [
        { "@type": "Place", "name": "Sumatra, Indonesia" },
        { "@type": "Place", "name": "Kalimantan, Indonesia" },
        { "@type": "Place", "name": "Jawa, Indonesia" },
        { "@type": "Country", "name": "Indonesia" }
      ],
      "knowsAbout": [
        "Transportasi alat berat",
        "Penyewaan alat berat",
        "Self-loader truck",
        "Lowboy / lowbed trailer",
        "Trailer dan dolly",
        "Crawler crane 25-260 ton",
        "Dump truck",
        "Mobilisasi alat berat proyek tambang dan konstruksi"
      ],
      "makesOffer": [
        {
          "@type": "Offer",
          "itemOffered": {
            "@type": "Service",
            "name": "Pengangkutan Alat Berat",
            "serviceType": "Transportasi alat berat",
            "description": "Layanan transportasi alat berat dan peralatan konstruksi dengan armada truk modern yang dirancang untuk beban dan medan berat.",
            "areaServed": ["Sumatra", "Kalimantan", "Jawa", "Indonesia"],
            "provider": { "@id": "{{ CANONICAL_HOST }}/#organization" }
          }
        },
        {
          "@type": "Offer",
          "itemOffered": {
            "@type": "Service",
            "name": "Pengangkutan Muatan Besar",
            "serviceType": "Angkutan muatan over-dimension",
            "description": "Penanganan muatan berdimensi dan berbobot besar dengan perencanaan rute dan pengamanan yang matang.",
            "areaServed": ["Sumatra", "Kalimantan", "Jawa", "Indonesia"],
            "provider": { "@id": "{{ CANONICAL_HOST }}/#organization" }
          }
        },
        {
          "@type": "Offer",
          "itemOffered": {
            "@type": "Service",
            "name": "Peralatan Industri & Konstruksi",
            "serviceType": "Distribusi peralatan dan material proyek",
            "description": "Distribusi peralatan industri dan material konstruksi ke lokasi proyek di seluruh Indonesia secara aman dan tepat waktu.",
            "areaServed": ["Sumatra", "Kalimantan", "Jawa", "Indonesia"],
            "provider": { "@id": "{{ CANONICAL_HOST }}/#organization" }
          }
        }
      ]
    }
  ]
}
</script>
